# Database
DATABASE_URL="file:./dev.db"

# API Keys
TMDB_KEY=f5707e33d829c09755f8b9ca50da00bd
WEATHERAPI_KEY=5fa3acc7f5ed4f8b98c111244241710
GEMINI_API_KEY=AIzaSyDkYapPWNIZuYdt6F-OlG2ov7Zrd9bIZe8

# Paystack
PAYSTACK_SECRET_KEY=sk_test_your_paystack_secret_key_here
PAYSTACK_PUBLIC_KEY=pk_test_your_paystack_public_key_here

# JWT
JWT_SECRET=your_jwt_secret_key_here

# Admin User
ADMIN_EMAIL=admin@movieapp.com
ADMIN_PASSWORD=admin123

# Server
PORT=3001
NODE_ENV=development
